testdata/yolov8s_80_classes.bin filter=lfs diff=lfs merge=lfs -text
testdata/person.jpg filter=lfs diff=lfs merge=lfs -text
testdata/zidane.jpg filter=lfs diff=lfs merge=lfs -text
testdata/camera720p.rgba filter=lfs diff=lfs merge=lfs -text
testdata/camera720p.yuyv filter=lfs diff=lfs merge=lfs -text
testdata/jaguar.jpg filter=lfs diff=lfs merge=lfs -text
testdata/modelpack_scores_1935x1.bin filter=lfs diff=lfs merge=lfs -text
testdata/modelpack_split.yaml filter=lfs diff=lfs merge=lfs -text
testdata/modelpack_split_17x30x18.bin filter=lfs diff=lfs merge=lfs -text
testdata/modelpack_split_9x15x18.bin filter=lfs diff=lfs merge=lfs -text
testdata/yolov8_protos_160x160x32.bin filter=lfs diff=lfs merge=lfs -text
testdata/yolov8_segmentation_37x8400.bin filter=lfs diff=lfs merge=lfs -text
testdata/modelpack_boxes_1935x1x4.bin filter=lfs diff=lfs merge=lfs -text
testdata/yolov8_boxes_116x8400.bin filter=lfs diff=lfs merge=lfs -text
testdata/yolov8_mask_results.bin filter=lfs diff=lfs merge=lfs -text
testdata/camera1080p.* filter=lfs diff=lfs merge=lfs -text
testdata/camera4k.* filter=lfs diff=lfs merge=lfs -text
