[package]
name = "edgefirst-hal"
description = "EdgeFirst Hardware Abstraction Layer"
version = "0.0.0"
edition = "2024"

[lib]
crate-type = ["lib", "cdylib"]

[features]
default = []
python = ["pyo3"]
python-abi38 = ["python", "pyo3/abi3-py38"]
python-abi311 = ["python", "pyo3/abi3-py311"]

[dependencies]
env_logger = "0.11.8"
log = "0.4.27"
nix = { version = "0.30.1", features = ["fs", "ioctl", "mman"] }
num-traits = "0.2.19"
pyo3 = { version = "0.25.1", optional = true, features = ["extension-module"] }
random-string = "1.1.0"

[build-dependencies]
pyo3-build-config = { version = "0.25.1", features = ["resolve-config"] }

[profile.release]
opt-level = 3
lto = true
strip = true
debug = false

[profile.profiling]
inherits = "release"
strip = false
debug = true
