[workspace]
resolver = "3"
members = ["crates/*"]
default-members = ["crates/edgefirst", "crates/tensor", "crates/image", "crates/decoder"]

[workspace.package]
name = "edgefirst-hal"
description = "EdgeFirst Hardware Abstraction Layer"
authors = ["Au-Zone Technologies <support@au-zone.com>"]
homepage = "https://edgefirst.ai"
repository = "https://github.com/EdgeFirstAI/hal"
license = "Proprietary"
version = "0.0.0"
edition = "2024"

[workspace.dependencies]
ctor = "0.4.2"
divan = "0.1.21"
dma-heap = "0.4.1"
env_logger = "0.11.8"
enum_dispatch = "0.3.13"
fast_image_resize = { version = "5.2.0", features = ["image", "rayon"] }
four-char-code = "2.3.0"
jpeg-encoder = { version = "0.6.1", features = ["simd"] }
libloading = "0.8.8"
log = "0.4.27"
ndarray = { version = "0.16.1", features = ["rayon"] }
nix = { version = "0.30.1", features = ["fs", "ioctl", "mman"] }
num-traits = "0.2.19"
rayon = "1.10.0"
uuid = { version = "1.11.0", features = ["v4"] }
zune-jpeg = "0.4.21"
zune-png = "0.4.10"

[profile.release]
opt-level = 3
lto = "thin"
strip = true
debug = false

[profile.profiling]
inherits = "release"
strip = false
debug = true
