[package]
name = "edgefirst-hal"
description = "EdgeFirst Hardware Abstraction Layer"
version = "0.0.0"
edition = "2024"

[lib]
crate-type = ["lib", "cdylib"]

[features]
default = []
python = ["pyo3"]
python-abi38 = ["python", "pyo3/abi3-py38"]
python-abi311 = ["python", "pyo3/abi3-py311"]

[dependencies]
ctor = "0.4.2"
env_logger = "0.11.8"
fast_image_resize = { version = "5.1.4", features = ["image", "rayon"] }
glob = "0.3.2"
jpeg-encoder = { version = "0.6.1", features = ["simd"] }
log = "0.4.27"
nix = { version = "0.30.1", features = ["fs", "ioctl", "mman"] }
num-traits = "0.2.19"
pyo3 = { version = "0.25.1", optional = true, features = ["extension-module"] }
random-string = "1.1.0"
zune-jpeg = "0.4.18"

[target.'cfg(target_os = "linux")'.dependencies]
dma-heap = "0.4.1"
g2d-sys = { version = "1.0.1", path = "g2d-sys" }

[build-dependencies]
pyo3-build-config = { version = "0.25.1", features = ["resolve-config"] }

[dev-dependencies]
criterion = "0.6.0"

[[bench]]
name = "tensor_benchmark"
harness = false

[[bench]]
name = "image_benchmark"
harness = false

[profile.release]
opt-level = 3
lto = true
strip = true
debug = false

[profile.profiling]
inherits = "release"
strip = false
debug = true
