[package]
name = "edgefirst-tracker"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true
license.workspace = true


[dependencies]
enum_dispatch = "0.3.13"
lapjv = "0.2.1"
log = { version = "0.4.28" }
nalgebra = "0.32.6"
ndarray = { version = "0.16.1", features = ["rayon"] }
num-traits = "0.2.19"
uuid = { version = "1.18.1", features = ["v4"] }
